*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 300px auto;
    height: 100vh;
}

aside{
    background: #212529;
    padding: 10px;
}

section{
    background: #474745;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile_template{
    display: flex;
    align-items: center;
}

.profile h3{
     color: whitesmoke;
}

.profile p{
    color: whitesmoke;
}

.search_bar{
    display: flex;
    margin: 20px 0;
    align-items: center;
    padding: 12px 15px;
    border: 1px solid white;
    border-radius: 5px;
    justify-content: space-between;
}

.search_bar input{
    color: white;
    border: none;
    outline: none;
    background: #212529;
    caret-color: white;
}

.nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav a:not(:nth-child(5)){
    margin-bottom: 20px;
}

.nav a h4{
    color: whitesmoke;
}

.fa-user-circle{
    color: white;
    font-size: 50px;
    margin-right: 10px;
}

.fa-sun,
.fa-star,
.fa-book,
.fa-user-alt,
.fa-home{
    font-size: 25px;
    margin-right: 5px;
    width: 30px;
}

.fa-search{
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.fa-sun{
    color: #005f73;
}

.fa-star{
    color: #e76f51;
}

.fa-book{
    color: #14746f;
}

.fa-user-alt{
    color: #56ab91;
}

.fa-home{
    color: #669bbc;
}

.category_title{
    font-size: 35px;
    margin-bottom: 30px;
    color: #0081a7;
}

.todo_wrapper{
    display: flex;
    align-items: center;
    background: #212529;
    border-radius: 5px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.todo_wrapper input{
    margin-right: 10px;
}

.todo_wrapper p{
    font-size: 18px;
    color: white;
}

.todos{
    display: flex;
    align-items: center;
    padding: 15px 10px;
    width: 100%;
    justify-content: space-between;
}

.todo{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.todo input{
    width: 100%;
    background: none;
    color: white;
    border: none;
    outline: none;
    margin-left: 10px;
}

.fa-plus{
    color: #0081a7;
    cursor: pointer;
    font-size: 20px;
    padding: 0 10px;
}

.fa-plus:hover{
    opacity: .50;
}

.edit_modal_wrapper{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 400px;
    background: #212529;
    border-left: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit_modal{
    margin: 20px;
}

.description_block input{
    width: 100%;
    background: none;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    color: white;
    padding: 20px 10px;
}

.button_block{
    display: flex;
    justify-content: space-evenly;
}

.button_block a, .button_block input{
    margin-top: 20px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.button_block input:nth-child(3){
    background: green;
    cursor: pointer;
}

.button_block a:nth-child(4){
    background: red;
}

.created_date{
    border-top: 1px solid gray;
    padding: 20px 10px;
    text-align: center;
}

.created_date p{
    color: white;
}

#delete_button{
    position: absolute;
    right: 10px;
    bottom: 20px;
}